/*--------------------------------------------------------------
# Archive - Product
--------------------------------------------------------------*/

h1.page-title {
    text-align: center;
    text-transform: uppercase;
}

.entry-content p {
    display: none;
}

.allProducts {
    display: flex;
}