/*--------------------------------------------------------------
# Archive - Product
--------------------------------------------------------------*/

h1.page-title {
    text-align: center;
    text-transform: uppercase;
    margin-top: 10%;
}

.archive .allProducts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 1120px;
    margin: 0 auto;
    .product-details {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        p {
            margin: 0;
        }
    }
}

.archive .entry-header {
    border: 1px solid $color_light-grey-brand-colour;
    img {
        height: 200px;
        width: 250px;
        border-bottom: 5px solid $color_light-grey-brand-colour;
    }
}

.archive .entry-content {
    display: none;
}

.archive .entry-title {
    font-size: 1rem;
    color: black;
    margin: 0;
    a {
        text-decoration: none;
    }
}


/*
Header Styling - sub navigation
*/

.archive .page-header {
    border-bottom: 1px dashed grey;
    margin: 0 10% 5% 10%;
}

.taxonomy-description {
    text-align: center;
}

.archive .shop-stuff-content {
    text-align: center;
    padding: 0;
    margin: 5% 0 5%;
    a {
        margin-right: 5px;
        text-decoration: none;
        font-size: 1.2rem;
    }
}