/*--------------------------------------------------------------
# Content 
--------------------------------------------------------------*/


/* Posts and pages */

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
    display: none;
}

.single-post .byline,
.group-blog .byline {
    display: inline;
}

.blog .content-area {
    margin-left: 5%;
}

.page-content,
.entry-content,
.entry-summary {
    margin: $base__space-unit 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 $base__space-unit;
}


/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}


/* Comments */

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comments-area h3 {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 2px;
}

//main content area - Journal Page
a.read-more {
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
    &:hover {
        background-color: $color_green-brand-colour;
        color: white;
        border: none;
    }
}

.blog .entry-content .entry-header img {
    width: 65%;
}

.single-post .entry-content .entry-header img {
    width: 65%;
}

.blog .site-main {
    margin-top: 7%;
}

//Headers - Journal Page
.blog .entry-title {
    position: relative;
    width: 60%;
    color: white;
}

.single-post .entry-title {
    position: relative;
    width: 60%;
    color: white;
}

.blog .entry-title .entry-content h2 {
    text-transform: uppercase;
    font-size: 2rem;
}

.cat-links,
.tags-links {
    padding-right: 20px;
    font-family: $font_headers;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    a {
        text-decoration: none;
        color: $color_green-brand-colour;
        &:hover {
            color: black;
        }
    }
}


/*Single Post Pages*/

.single-post .site-main {
    margin-top: 10%;
}

p.BodyA {
    line-height: 1.85;
}