/*--------------------------------------------------------------
# Content 
--------------------------------------------------------------*/


/* Posts and pages */

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
    display: none;
}

.single-post .byline,
.group-blog .byline {
    display: inline;
}

.blog .content-area {
    margin-left: 5%;
}

.page-content,
.entry-content,
.entry-summary {
    margin: $base__space-unit 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 $base__space-unit;
}


/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}


/* Comments */

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comments-area h3 {
    text-transform: uppercase;
}

//main content area - Journal Page
.blog .entry-content .entry-header img {
    width: 65%;
}

.single-post .entry-content .entry-header img {
    width: 65%;
}

.blog .site-main {
    margin-top: 7%;
}

#read-more {
    margin-bottom: 5%;
    a {
        text-decoration: none;
        padding: 10px;
        margin: 5px;
        border: 1px solid black;
        color: black;
        text-transform: uppercase;
    }
}

//Headers - Journal Page
.blog .entry-title {
    position: relative;
    width: 60%;
    color: white;
}

.single-post .entry-title {
    position: relative;
    width: 60%;
    color: white;
}

.blog .entry-title .entry-content h2 {
    text-transform: uppercase;
    font-size: 2rem;
}

.cat-links {
    padding-right: 20px;
}


/*Single Post Pages*/

.single-post .site-main {
    margin-top: 10%;
}


/* Find us Page */


/* About Page Image Area */

.page-template-about .about_photo {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5%;
    background-position: 25% 75%;
    position: relative;
    h2 {
        position: absolute;
        top: 50%;
        left: 45%;
        color: white;
        font-size: 2.25rem;
        text-transform: uppercase;
    }
}

.page-template-about .content-area {
    margin: 0;
}

.page-template-about .site-main {
    width: 100%;
}

.page-template-about .site-main {
    margin-top: 0;
}

.page-template-about .about_copy {
    margin: 0 10% 25% 10%;
    h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 2.25rem;
    }
    p {
        font-size: 1rem;
    }
}


/* Find Us Page  */

.page-template-page-find-us .entry-title {
    margin-top: 10%;
}

.page-template-page-find-us .site-content {
    display: flex;
}

.page-template-page-find-us .site-main {
    width: 70%;
}

.page-template-page-find-us .contact-info {
    margin-top: 40%;
}

.page .wpcf7-form-control {
    color: $color_green-brand-colour;
}