/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

.error404 .content-area {
    display: flex;
}

.error404 .site-main {
    padding: 10%;
}

.not-found {
    padding-right: 70px;
}