/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

.error404 .content-area {
    display: flex;
}

.error404 .site-main {
    padding: 10%;
}

.error404 .page-title {
    font-size: 2.2rem;
    font-weight: bold;
}

.cat-item {
    text-transform: none;
    font-weight: normal;
}