/*--------------------------------------------------------------
# Find-Us Page
--------------------------------------------------------------*/


/* Find Us Page  */

.page-id-29 .site-content {
    display: flex;
}

.page-id-29 .content-area {
    border-right: 1px solid $color_light-grey-brand-colour;
    width: 100%;
    margin-left: 5%;
    padding-right: 5%;
}