/*--------------------------------------------------------------
# Front-page
--------------------------------------------------------------*/

body .hero-image {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/home-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 0;
}


/******************* Shopping  Section *******************/

.shop-stuff h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}


/******************* Inhabitent Journal Section *******************/

.inhabitent-journal h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}


/******************* Adventure  Section *******************/

.adventure h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}

.adventure-block {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    // width: 100vw;
    height: 600px;
    margin: 40px 40px;
}

.left-block {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/adventure-photos/canoe-girl.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 99%;
    width: 40%;
    background-position-x: 50%;
    margin-right: 15px;
    position: relative;
    h3 {
        color: white;
        position: absolute;
        line-height: 2.5rem;
        font-size: 2.5rem;
        padding: 25% 13%;
    }
    a {
        text-decoration: none;
        color: white;
        padding: 10px;
        border: 1px solid white;
        position: absolute;
        top: 260px;
        left: 64px;
        &:hover {
            background-color: $color_green-brand-colour;
            border: none;
        }
    }
}

.right-block {
    display: flex;
    flex-flow: row wrap;
    width: 600px;
    .beach {
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/adventure-photos/beach-bonfire.jpg');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        position: relative;
        height: 47%;
        width: 100%;
        margin-bottom: 20px;
        h3 {
            position: absolute;
            line-height: 2.5rem;
            font-size: 2.5rem;
            padding: 8% 5%;
            width: 100%;
            color: white;
        }
        a {
            text-decoration: none;
            color: white;
            padding: 10px;
            border: 1px solid white;
            position: absolute;
            top: 180px;
            left: 33px;
            &:hover {
                background-color: $color_green-brand-colour;
                border: none;
            }
        }
    }
    .mountain {
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/adventure-photos/mountain-hikers.jpg');
        background-repeat: no-repeat;
        background-position: 51%;
        background-size: cover;
        height: 48%;
        width: 48%;
        margin-right: 20px;
        position: relative;
        h3 {
            position: absolute;
            line-height: 2.5rem;
            font-size: 2.5rem;
            padding: 3%;
            width: 100%;
            color: white;
        }
        a {
            text-decoration: none;
            color: white;
            border: 1px solid white;
            position: absolute;
            margin: 0 0;
            padding: 10px;
            top: 190px;
            left: 11px;
            &:hover {
                background-color: $color_green-brand-colour;
                border: none;
            }
        }
    }
    .stars {
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/adventure-photos/night-sky.jpg');
        background-repeat: no-repeat;
        background-position: 55%;
        background-size: cover;
        height: 48%;
        width: 48%;
        position: relative;
        h3 {
            color: white;
            position: absolute;
            line-height: 2.5rem;
            font-size: 2.5rem;
            padding: 5%;
            width: 100%;
        }
        a {
            text-decoration: none;
            color: white;
            border: 1px solid white;
            position: absolute;
            margin: 0 0;
            padding: 10px;
            top: 190px;
            left: 17px;
            &:hover {
                background-color: $color_green-brand-colour;
                border: none;
            }
        }
    }
}