            // Rem output with px fallback
            @mixin font-size($sizeValue: 1) {
                font-size: ($sizeValue * 16) * 1px;
                font-size: $sizeValue * 1rem;
            }
            
            // Center block
            @mixin center-block {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            
            @mixin adventure-links {
                color: white;
                position: absolute;
                line-height: 2.5rem;
                font-family: 'merriweather';
                font-weight: 100;
                font-style: normal;
                font-size: 2.2rem;
                top: 20%;
                padding: 8%;
                text-decoration: none;
                &:hover {
                    color: antiquewhite;
                }
            }