/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/* Links */

a {
    color: $color__link;
    &:visited {
        color: $color__link-visited;
    }
    &:hover,
    &:focus,
    &:active {
        color: $color__link-hover;
    }
    &:focus {
        outline: thin dotted;
    }
    &:hover,
    &:active {
        outline: 0;
    }
}


/* Menus */

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    height: 55px;
    padding-top: 5px;
    background-color: white;
    border-bottom: 1px solid $color_light-grey-brand-colour;
    background-color: rgba(255, 255, 255, 0.6);
    top: 0;
}

.logo {
    height: 35px;
    margin-left: 30px;
    padding-top: 2px;
    ;
}

.main-navigation {
    display: flex;
    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;
        ul {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            float: left;
            position: absolute;
            top: $base__space-unit;
            left: -999em;
            z-index: 99999;
            ul {
                left: -999em;
                top: 0;
            }
            li {
                &:hover>ul,
                &.focus>ul {
                    left: 100%;
                }
            }
            a {
                width: 200px;
            }
             :hover>a,
            .focus>a {}
            a:hover,
            a.focus {}
        }
        li:hover>ul,
        li.focus>ul {
            left: auto;
        }
    }
    li {
        display: inline-block;
        margin-right: 1.2rem;
        &:hover>a,
        &.focus>a {}
    }
    a {
        display: block;
        text-decoration: none;
        font-weight: 400;
        color: $color_green-brand-colour;
        text-transform: uppercase;
    }
    .current_page_item>a,
    .current-menu-item>a,
    .current_page_ancestor>a {}
}

.site-title {
    position: absolute;
    top: -9999px;
    left: -9999px;
}


/** logged in **/

.admin-bar .container {
    top: 32px;
}


/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
    .site-main & {
        margin: 0 0 $base__space-unit;
        overflow: hidden;
    }
    .nav-previous {
        float: left;
        width: 50%;
    }
    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}

.nav-links {
    display: none;
}

.menu-menu-1-container {
    padding-top: 8px;
}


/*--------------------------------------------------------------
# Search Field
--------------------------------------------------------------*/

.search-form {
    right: 20px;
    top: 0;
    padding-right: 10px;
}

.search-field {
    display: none;
    background-color: transparent;
    font-family: $font_headers;
    font-size: 1rem;
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border: none;
    height: 37px;
    position: relative;
    -webkit-transition: width 400ms ease, background 400ms ease;
    transition: width 400ms ease, background 400ms ease;
    width: 230px;
    color: black;
    padding-right: 10px;
}


/*.search-field:focus {
    cursor: text;
    outline: 0;
    width: 230px;
}*/

.search-form input[type="search"] {
    -webkit-appearance: textfield;
    color: none;
    background-color: none;
}

fieldset {
    border: none;
    padding: 0;
}

.search-submit {
    background-color: transparent;
    padding-top: 8px;
}

button {
    border: none;
    color: $color_green-brand-colour;
    &:hover {
        border-color: none;
        box-shadow: none;
        background-color: none;
    }
    &:active,
    &:focus {
        border-color: none;
        box-shadow: none;
    }
}