/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/* Links */

a {
    color: $color__link;
    &:visited {
        color: $color__link-visited;
    }
    &:hover,
    &:focus,
    &:active {
        color: $color__link-hover;
    }
    &:focus {
        outline: thin dotted;
    }
    &:hover,
    &:active {
        outline: 0;
    }
}


/* Menus */

.main-navigation {
    justify-content: space-between;
    display: flex;
    float: left;
    width: 100%;
    position: fixed;
    z-index: 2;
    height: 55px;
    //top: 32px; with login 
    top: 0; //w/o login 
    padding-top: 10px;
    background-color: white;
    border-bottom: 1px solid $color_light-grey-brand-colour;
    background-color: rgba(255, 255, 255, 0.6);
    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;
        ul {
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            float: left;
            position: absolute;
            top: $base__space-unit;
            left: -999em;
            z-index: 99999;
            ul {
                left: -999em;
                top: 0;
            }
            li {
                &:hover>ul,
                &.focus>ul {
                    left: 100%;
                }
            }
            a {
                width: 200px;
                padding-top: 5px;
            }
             :hover>a,
            .focus>a {}
            a:hover,
            a.focus {}
        }
        li:hover>ul,
        li.focus>ul {
            left: auto;
        }
    }
    li {
        float: left;
        position: relative;
        padding: 10px;
        &:hover>a,
        &.focus>a {}
    }
    a {
        display: block;
        text-decoration: none;
        color: $color_green-brand-colour;
        text-transform: uppercase;
    }
    img {
        height: 35px;
        margin-left: 60px;
    }
    .current_page_item>a,
    .current-menu-item>a,
    .current_page_ancestor>a {}
}

.menu-menu-1-container {
    margin-right: 100px;
}


/** logged in **/

.admin-bar .main-navigation {
    top: 32px;
}


/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
    .site-main & {
        margin: 0 0 $base__space-unit;
        overflow: hidden;
    }
    .nav-previous {
        float: left;
        width: 50%;
    }
    .nav-next {
        float: right;
        text-align: right;
        width: 50%;
    }
}

.nav-links {
    display: none;
}