/*--------------------------------------------------------------
# Search Field
--------------------------------------------------------------*/

.search-field {
    background-color: transparent;
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border: none;
    cursor: pointer;
    height: 37px;
    /*padding: 0 0 0 34px;*/
    position: relative;
    -webkit-transition: width 400ms ease, background 400ms ease;
    transition: width 400ms ease, background 400ms ease;
    width: 0;
    color: black;
}

.search-field:focus {
    cursor: text;
    outline: 0;
    width: 230px;
    padding-left: 5px;
}

.search-form input[type="search"] {
    -webkit-appearance: textfield;
    color: none;
    background-color: none;
    padding-left: 32px;
}

fieldset {
    border: none;
    padding: 0;
}

.search-submit {
    background-color: transparent;
}

button {
    border: none;
    color: $color_green-brand-colour;
    &:hover {
        border-color: none;
        box-shadow: none;
        background-color: none;
    }
    &:active,
    &:focus {
        border-color: none;
        box-shadow: none;
    }
}


/*
* Search Results Page 
*/

.search-results .site-content {
    display: flex;
}

.search-results .content-area {
    width: 100%;
    margin-left: 5%;
    border-right: 1px solid $color_light-grey-brand-colour;
}

.search-results .site-main {
    margin-top: 10%;
    padding-right: 5%;
}

.search-results h1.page-title {
    font-weight: 600;
    letter-spacing: 2px;
    border-bottom: 1px solid $color_light-grey-brand-colour;
    font-size: 2.8rem;
}

.search-results .entry-title {
    font-family: $font_headers;
    font-size: 2.1rem;
    margin-bottom: 1.5rem;
    line-height: 1.3;
    letter-spacing: 2px;
    a {
        text-decoration: none;
        color: $color_green-brand-colour;
        font-weight: 600;
    }
    &:hover {
        color: $color__text-main;
    }
}


/*
* Search No Results page 
*/

.search-no-results .site-content {
    display: flex;
}

.search-no-results .content-area {
    border-right: 1px solid $color_light-grey-brand-colour;
    width: 100%;
}

.search-no-results .site-main {
    margin: 30% 5% 0 5%;
}