/*--------------------------------------------------------------
# Search Field
--------------------------------------------------------------*/

.search-form {
    position: absolute;
    right: 20px;
    top: 1px;
}

.search-field {
    background-color: transparent;
    background-image: url(http://api.ning.com:80/files/dr2jDpSXWFhyuoGJ4YR5Fu-PwuqLz70YxRaUcpdKNxf2HI5ECzddyx3NHuPz-MB4ujGS4rEtdtS-aQoFlQrtv*XwVOu*AvC8/searchicon.png);
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border: none;
    cursor: pointer;
    height: 37px;
    margin: 3px 0;
    padding: 0 0 0 34px;
    position: relative;
    -webkit-transition: width 400ms ease, background 400ms ease;
    transition: width 400ms ease, background 400ms ease;
    width: 0;
}

.search-field:focus {
    background-color: #fff;
    cursor: text;
    outline: 0;
    width: 230px;
}

.search-submit {
    display: none;
}

input[type="search"] {
    -webkit-appearance: textfield;
    padding-left: 32px;
    color: none;
    background-color: none;
}