// Structure
$base__space-unit: 1.5em;
// Colors
$brand_color_grey:#808080;
$brand_color_orange: #d99054;
$color__background-body: #fff;
$color__text-main: #404040;
$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color_green-brand-colour:#248A83;
$color_light-grey-brand-colour:#e1e1e1;
// Typography
$font_base:'merriweather',
sans-serif;
$font_headers:'Novecento',
sans-serif;
//Added fonts
$font__main: sans-serif;
$font__code: Monaco,
Consolas,
"Andale Mono",
"DejaVu Sans Mono",
monospace;
$font__pre: "Courier 10 Pitch",
Courier,
monospace;
$font__line-height-body: 1.75;
$font__line-height-pre: 1.6;
$base_font_size: 16px;