/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
    margin: 0 0 $base__space-unit;
    /* Make sure select elements fit in widgets. */
    select {
        max-width: 100%;
    }
    ul {
        list-style: none;
        padding-left: 0px;
        margin: 0
    }
}


/* Search widget. */

.widget_search .search-submit {
    display: none;
}


/*Style sidebar*/

.widget-area {
    padding: 10% 5% 0 5%;
    a {
        font-family: $font_base;
        text-decoration: none;
        color: #248a83;
        i {
            color: black;
        }
    }
}

.widget-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: 2px;
}

span.day-of-week {
    font-weight: bold;
}

.textwidget {
    line-height: 1.85;
    p {
        font-size: 1.2rem;
    }
}